In [1]:
import config
import requests
import datetime as dt
import json
from datetime import datetime as dt, date
from dateutil.relativedelta import relativedelta
import pandas as pd
import requests
import os
import sys

API_KEY = config.API_KEY


# Symbol lists contain all the stocks that we are interested in. 
symbol_list = ['AAPL','MSFT','GOOG','AMZN','NVDA','BRK-B','TSLA','META','JNJ','V']

In [2]:

def get_daily_prices(symbol):
    url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={symbol}&outputsize=full&apikey={API_KEY}'
    r = requests.get(url)
    
    data = r.json()

    if r.status_code == 200:
       
        price_data = data["Time Series (Daily)"]

        dates = []
        full_dates = list(price_data.keys())
    
        today = date(2020,2,1)
   
    
        prices = []
        for i in range(0, len(full_dates)):
            day = dt.strptime(full_dates[i], "%Y-%m-%d").date()
            if day < today - relativedelta(years=10):
                break
            else:
                dates.append(full_dates[i])
                prices.append(float(price_data[full_dates[i]]["4. close"]))

        his_prices = {"dates": dates, "prices": prices}
    
        return his_prices
    else: return None

In [4]:
his_prices = get_daily_prices('META')

{'dates': ['2023-04-21',
  '2023-04-20',
  '2023-04-19',
  '2023-04-18',
  '2023-04-17',
  '2023-04-14',
  '2023-04-13',
  '2023-04-12',
  '2023-04-11',
  '2023-04-10',
  '2023-04-06',
  '2023-04-05',
  '2023-04-04',
  '2023-04-03',
  '2023-03-31',
  '2023-03-30',
  '2023-03-29',
  '2023-03-28',
  '2023-03-27',
  '2023-03-24',
  '2023-03-23',
  '2023-03-22',
  '2023-03-21',
  '2023-03-20',
  '2023-03-17',
  '2023-03-16',
  '2023-03-15',
  '2023-03-14',
  '2023-03-13',
  '2023-03-10',
  '2023-03-09',
  '2023-03-08',
  '2023-03-07',
  '2023-03-06',
  '2023-03-03',
  '2023-03-02',
  '2023-03-01',
  '2023-02-28',
  '2023-02-27',
  '2023-02-24',
  '2023-02-23',
  '2023-02-22',
  '2023-02-21',
  '2023-02-17',
  '2023-02-16',
  '2023-02-15',
  '2023-02-14',
  '2023-02-13',
  '2023-02-10',
  '2023-02-09',
  '2023-02-08',
  '2023-02-07',
  '2023-02-06',
  '2023-02-03',
  '2023-02-02',
  '2023-02-01',
  '2023-01-31',
  '2023-01-30',
  '2023-01-27',
  '2023-01-26',
  '2023-01-25',
  '2023-01-24',
  '2023-01-23',
  '2023-01-20',
  '2023-01-19',
  '2023-01-18',
  '2023-01-17',
  '2023-01-13',
  '2023-01-12',
  '2023-01-11',
  '2023-01-10',
  '2023-01-09',
  '2023-01-06',
  '2023-01-05',
  '2023-01-04',
  '2023-01-03',
  '2022-12-30',
  '2022-12-29',
  '2022-12-28',
  '2022-12-27',
  '2022-12-23',
  '2022-12-22',
  '2022-12-21',
  '2022-12-20',
  '2022-12-19',
  '2022-12-16',
  '2022-12-15',
  '2022-12-14',
  '2022-12-13',
  '2022-12-12',
  '2022-12-09',
  '2022-12-08',
  '2022-12-07',
  '2022-12-06',
  '2022-12-05',
  '2022-12-02',
  '2022-12-01',
  '2022-11-30',
  '2022-11-29',
  '2022-11-28',
  '2022-11-25',
  '2022-11-23',
  '2022-11-22',
  '2022-11-21',
  '2022-11-18',
  '2022-11-17',
  '2022-11-16',
  '2022-11-15',
  '2022-11-14',
  '2022-11-11',
  '2022-11-10',
  '2022-11-09',
  '2022-11-08',
  '2022-11-07',
  '2022-11-04',
  '2022-11-03',
  '2022-11-02',
  '2022-11-01',
  '2022-10-31',
  '2022-10-28',
  '2022-10-27',
  '2022-10-26',
  '2022-10-25',
  '2022-10-24',
  '2022-10-21',
  '2022-10-20',
  '2022-10-19',
  '2022-10-18',
  '2022-10-17',
  '2022-10-14',
  '2022-10-13',
  '2022-10-12',
  '2022-10-11',
  '2022-10-10',
  '2022-10-07',
  '2022-10-06',
  '2022-10-05',
  '2022-10-04',
  '2022-10-03',
  '2022-09-30',
  '2022-09-29',
  '2022-09-28',
  '2022-09-27',
  '2022-09-26',
  '2022-09-23',
  '2022-09-22',
  '2022-09-21',
  '2022-09-20',
  '2022-09-19',
  '2022-09-16',
  '2022-09-15',
  '2022-09-14',
  '2022-09-13',
  '2022-09-12',
  '2022-09-09',
  '2022-09-08',
  '2022-09-07',
  '2022-09-06',
  '2022-09-02',
  '2022-09-01',
  '2022-08-31',
  '2022-08-30',
  '2022-08-29',
  '2022-08-26',
  '2022-08-25',
  '2022-08-24',
  '2022-08-23',
  '2022-08-22',
  '2022-08-19',
  '2022-08-18',
  '2022-08-17',
  '2022-08-16',
  '2022-08-15',
  '2022-08-12',
  '2022-08-11',
  '2022-08-10',
  '2022-08-09',
  '2022-08-08',
  '2022-08-05',
  '2022-08-04',
  '2022-08-03',
  '2022-08-02',
  '2022-08-01',
  '2022-07-29',
  '2022-07-28',
  '2022-07-27',
  '2022-07-26',
  '2022-07-25',
  '2022-07-22',
  '2022-07-21',
  '2022-07-20',
  '2022-07-19',
  '2022-07-18',
  '2022-07-15',
  '2022-07-14',
  '2022-07-13',
  '2022-07-12',
  '2022-07-11',
  '2022-07-08',
  '2022-07-07',
  '2022-07-06',
  '2022-07-05',
  '2022-07-01',
  '2022-06-30',
  '2022-06-29',
  '2022-06-28',
  '2022-06-27',
  '2022-06-24',
  '2022-06-23',
  '2022-06-22',
  '2022-06-21',
  '2022-06-17',
  '2022-06-16',
  '2022-06-15',
  '2022-06-14',
  '2022-06-13',
  '2022-06-10',
  '2022-06-09',
  '2022-06-08',
  '2022-06-07',
  '2022-06-06',
  '2022-06-03',
  '2022-06-02',
  '2022-06-01',
  '2022-05-31',
  '2022-05-27',
  '2022-05-26',
  '2022-05-25',
  '2022-05-24',
  '2022-05-23',
  '2022-05-20',
  '2022-05-19',
  '2022-05-18',
  '2022-05-17',
  '2022-05-16',
  '2022-05-13',
  '2022-05-12',
  '2022-05-11',
  '2022-05-10',
  '2022-05-09',
  '2022-05-06',
  '2022-05-05',
  '2022-05-04',
  '2022-05-03',
  '2022-05-02',
  '2022-04-29',
  '2022-04-28',
  '2022-04-27',
  '2022-04-26',
  '2022-04-25',
  '2022-04-22',
  '2022-04-21',
  '2022-04-20',
  '2022-04-19',
  '2022-04-18',
  '2022-04-14',
  '2022-04-13',
  '2022-04-12',
  '2022-04-11',
  '2022-04-08',
  '2022-04-07',
  '2022-04-06',
  '2022-04-05',
  '2022-04-04',
  '2022-04-01',
  '2022-03-31',
  '2022-03-30',
  '2022-03-29',
  '2022-03-28',
  '2022-03-25',
  '2022-03-24',
  '2022-03-23',
  '2022-03-22',
  '2022-03-21',
  '2022-03-18',
  '2022-03-17',
  '2022-03-16',
  '2022-03-15',
  '2022-03-14',
  '2022-03-11',
  '2022-03-10',
  '2022-03-09',
  '2022-03-08',
  '2022-03-07',
  '2022-03-04',
  '2022-03-03',
  '2022-03-02',
  '2022-03-01',
  '2022-02-28',
  '2022-02-25',
  '2022-02-24',
  '2022-02-23',
  '2022-02-22',
  '2022-02-18',
  '2022-02-17',
  '2022-02-16',
  '2022-02-15',
  '2022-02-14',
  '2022-02-11',
  '2022-02-10',
  '2022-02-09',
  '2022-02-08',
  '2022-02-07',
  '2022-02-04',
  '2022-02-03',
  '2022-02-02',
  '2022-02-01',
  '2022-01-31',
  '2022-01-28',
  '2022-01-27',
  '2022-01-26',
  '2022-01-25',
  '2022-01-24',
  '2022-01-21',
  '2022-01-20',
  '2022-01-19',
  '2022-01-18',
  '2022-01-14',
  '2022-01-13',
  '2022-01-12',
  '2022-01-11',
  '2022-01-10',
  '2022-01-07',
  '2022-01-06',
  '2022-01-05',
  '2022-01-04',
  '2022-01-03',
  '2021-12-31',
  '2021-12-30',
  '2021-12-29',
  '2021-12-28',
  '2021-12-27',
  '2021-12-23',
  '2021-12-22',
  '2021-12-21',
  '2021-12-20',
  '2021-12-17',
  '2021-12-16',
  '2021-12-15',
  '2021-12-14',
  '2021-12-13',
  '2021-12-10',
  '2021-12-09',
  '2021-12-08',
  '2021-12-07',
  '2021-12-06',
  '2021-12-03',
  '2021-12-02',
  '2021-12-01',
  '2021-11-30',
  '2021-11-29',
  '2021-11-26',
  '2021-11-24',
  '2021-11-23',
  '2021-11-22',
  '2021-11-19',
  '2021-11-18',
  '2021-11-17',
  '2021-11-16',
  '2021-11-15',
  '2021-11-12',
  '2021-11-11',
  '2021-11-10',
  '2021-11-09',
  '2021-11-08',
  '2021-11-05',
  '2021-11-04',
  '2021-11-03',
  '2021-11-02',
  '2021-11-01',
  '2021-10-29',
  '2021-10-28',
  '2021-10-27',
  '2021-10-26',
  '2021-10-25',
  '2021-10-22',
  '2021-10-21',
  '2021-10-20',
  '2021-10-19',
  '2021-10-18',
  '2021-10-15',
  '2021-10-14',
  '2021-10-13',
  '2021-10-12',
  '2021-10-11',
  '2021-10-08',
  '2021-10-07',
  '2021-10-06',
  '2021-10-05',
  '2021-10-04',
  '2021-10-01',
  '2021-09-30',
  '2021-09-29',
  '2021-09-28',
  '2021-09-27',
  '2021-09-24',
  '2021-09-23',
  '2021-09-22',
  '2021-09-21',
  '2021-09-20',
  '2021-09-17',
  '2021-09-16',
  '2021-09-15',
  '2021-09-14',
  '2021-09-13',
  '2021-09-10',
  '2021-09-09',
  '2021-09-08',
  '2021-09-07',
  '2021-09-03',
  '2021-09-02',
  '2021-09-01',
  '2021-08-31',
  '2021-08-30',
  '2021-08-27',
  '2021-08-26',
  '2021-08-25',
  '2021-08-24',
  '2021-08-23',
  '2021-08-20',
  '2021-08-19',
  '2021-08-18',
  '2021-08-17',
  '2021-08-16',
  '2021-08-13',
  '2021-08-12',
  '2021-08-11',
  '2021-08-10',
  '2021-08-09',
  '2021-08-06',
  '2021-08-05',
  '2021-08-04',
  '2021-08-03',
  '2021-08-02',
  '2021-07-30',
  '2021-07-29',
  '2021-07-28',
  '2021-07-27',
  '2021-07-26',
  '2021-07-23',
  '2021-07-22',
  '2021-07-21',
  '2021-07-20',
  '2021-07-19',
  '2021-07-16',
  '2021-07-15',
  '2021-07-14',
  '2021-07-13',
  '2021-07-12',
  '2021-07-09',
  '2021-07-08',
  '2021-07-07',
  '2021-07-06',
  '2021-07-02',
  '2021-07-01',
  '2021-06-30',
  '2021-06-29',
  '2021-06-28',
  '2021-06-25',
  '2021-06-24',
  '2021-06-23',
  '2021-06-22',
  '2021-06-21',
  '2021-06-18',
  '2021-06-17',
  '2021-06-16',
  '2021-06-15',
  '2021-06-14',
  '2021-06-11',
  '2021-06-10',
  '2021-06-09',
  '2021-06-08',
  '2021-06-07',
  '2021-06-04',
  '2021-06-03',
  '2021-06-02',
  '2021-06-01',
  '2021-05-28',
  '2021-05-27',
  '2021-05-26',
  '2021-05-25',
  '2021-05-24',
  '2021-05-21',
  '2021-05-20',
  '2021-05-19',
  '2021-05-18',
  '2021-05-17',
  '2021-05-14',
  '2021-05-13',
  '2021-05-12',
  '2021-05-11',
  '2021-05-10',
  '2021-05-07',
  '2021-05-06',
  '2021-05-05',
  '2021-05-04',
  '2021-05-03',
  '2021-04-30',
  '2021-04-29',
  '2021-04-28',
  '2021-04-27',
  '2021-04-26',
  '2021-04-23',
  '2021-04-22',
  '2021-04-21',
  '2021-04-20',
  '2021-04-19',
  '2021-04-16',
  '2021-04-15',
  '2021-04-14',
  '2021-04-13',
  '2021-04-12',
  '2021-04-09',
  '2021-04-08',
  '2021-04-07',
  '2021-04-06',
  '2021-04-05',
  '2021-04-01',
  '2021-03-31',
  '2021-03-30',
  '2021-03-29',
  '2021-03-26',
  '2021-03-25',
  '2021-03-24',
  '2021-03-23',
  '2021-03-22',
  '2021-03-19',
  '2021-03-18',
  '2021-03-17',
  '2021-03-16',
  '2021-03-15',
  '2021-03-12',
  '2021-03-11',
  '2021-03-10',
  '2021-03-09',
  '2021-03-08',
  '2021-03-05',
  '2021-03-04',
  '2021-03-03',
  '2021-03-02',
  '2021-03-01',
  '2021-02-26',
  '2021-02-25',
  '2021-02-24',
  '2021-02-23',
  '2021-02-22',
  '2021-02-19',
  '2021-02-18',
  '2021-02-17',
  '2021-02-16',
  '2021-02-12',
  '2021-02-11',
  '2021-02-10',
  '2021-02-09',
  '2021-02-08',
  '2021-02-05',
  '2021-02-04',
  '2021-02-03',
  '2021-02-02',
  '2021-02-01',
  '2021-01-29',
  '2021-01-28',
  '2021-01-27',
  '2021-01-26',
  '2021-01-25',
  '2021-01-22',
  '2021-01-21',
  '2021-01-20',
  '2021-01-19',
  '2021-01-15',
  '2021-01-14',
  '2021-01-13',
  '2021-01-12',
  '2021-01-11',
  '2021-01-08',
  '2021-01-07',
  '2021-01-06',
  '2021-01-05',
  '2021-01-04',
  '2020-12-31',
  '2020-12-30',
  '2020-12-29',
  '2020-12-28',
  '2020-12-24',
  '2020-12-23',
  '2020-12-22',
  '2020-12-21',
  '2020-12-18',
  '2020-12-17',
  '2020-12-16',
  '2020-12-15',
  '2020-12-14',
  '2020-12-11',
  '2020-12-10',
  '2020-12-09',
  '2020-12-08',
  '2020-12-07',
  '2020-12-04',
  '2020-12-03',
  '2020-12-02',
  '2020-12-01',
  '2020-11-30',
  '2020-11-27',
  '2020-11-25',
  '2020-11-24',
  '2020-11-23',
  '2020-11-20',
  '2020-11-19',
  '2020-11-18',
  '2020-11-17',
  '2020-11-16',
  '2020-11-13',
  '2020-11-12',
  '2020-11-11',
  '2020-11-10',
  '2020-11-09',
  '2020-11-06',
  '2020-11-05',
  '2020-11-04',
  '2020-11-03',
  '2020-11-02',
  '2020-10-30',
  '2020-10-29',
  '2020-10-28',
  '2020-10-27',
  '2020-10-26',
  '2020-10-23',
  '2020-10-22',
  '2020-10-21',
  '2020-10-20',
  '2020-10-19',
  '2020-10-16',
  '2020-10-15',
  '2020-10-14',
  '2020-10-13',
  '2020-10-12',
  '2020-10-09',
  '2020-10-08',
  '2020-10-07',
  '2020-10-06',
  '2020-10-05',
  '2020-10-02',
  '2020-10-01',
  '2020-09-30',
  '2020-09-29',
  '2020-09-28',
  '2020-09-25',
  '2020-09-24',
  '2020-09-23',
  '2020-09-22',
  '2020-09-21',
  '2020-09-18',
  '2020-09-17',
  '2020-09-16',
  '2020-09-15',
  '2020-09-14',
  '2020-09-11',
  '2020-09-10',
  '2020-09-09',
  '2020-09-08',
  '2020-09-04',
  '2020-09-03',
  '2020-09-02',
  '2020-09-01',
  '2020-08-31',
  '2020-08-28',
  '2020-08-27',
  '2020-08-26',
  '2020-08-25',
  '2020-08-24',
  '2020-08-21',
  '2020-08-20',
  '2020-08-19',
  '2020-08-18',
  '2020-08-17',
  '2020-08-14',
  '2020-08-13',
  '2020-08-12',
  '2020-08-11',
  '2020-08-10',
  '2020-08-07',
  '2020-08-06',
  '2020-08-05',
  '2020-08-04',
  '2020-08-03',
  '2020-07-31',
  '2020-07-30',
  '2020-07-29',
  '2020-07-28',
  '2020-07-27',
  '2020-07-24',
  '2020-07-23',
  '2020-07-22',
  '2020-07-21',
  '2020-07-20',
  '2020-07-17',
  '2020-07-16',
  '2020-07-15',
  '2020-07-14',
  '2020-07-13',
  '2020-07-10',
  '2020-07-09',
  '2020-07-08',
  '2020-07-07',
  '2020-07-06',
  '2020-07-02',
  '2020-07-01',
  '2020-06-30',
  '2020-06-29',
  '2020-06-26',
  '2020-06-25',
  '2020-06-24',
  '2020-06-23',
  '2020-06-22',
  '2020-06-19',
  '2020-06-18',
  '2020-06-17',
  '2020-06-16',
  '2020-06-15',
  '2020-06-12',
  '2020-06-11',
  '2020-06-10',
  '2020-06-09',
  '2020-06-08',
  '2020-06-05',
  '2020-06-04',
  '2020-06-03',
  '2020-06-02',
  '2020-06-01',
  '2020-05-29',
  '2020-05-28',
  '2020-05-27',
  '2020-05-26',
  '2020-05-22',
  '2020-05-21',
  '2020-05-20',
  '2020-05-19',
  '2020-05-18',
  '2020-05-15',
  '2020-05-14',
  '2020-05-13',
  '2020-05-12',
  '2020-05-11',
  '2020-05-08',
  '2020-05-07',
  '2020-05-06',
  '2020-05-05',
  '2020-05-04',
  '2020-05-01',
  '2020-04-30',
  '2020-04-29',
  '2020-04-28',
  '2020-04-27',
  '2020-04-24',
  '2020-04-23',
  '2020-04-22',
  '2020-04-21',
  '2020-04-20',
  '2020-04-17',
  '2020-04-16',
  '2020-04-15',
  '2020-04-14',
  '2020-04-13',
  '2020-04-09',
  '2020-04-08',
  '2020-04-07',
  '2020-04-06',
  '2020-04-03',
  '2020-04-02',
  '2020-04-01',
  '2020-03-31',
  '2020-03-30',
  '2020-03-27',
  '2020-03-26',
  '2020-03-25',
  '2020-03-24',
  '2020-03-23',
  '2020-03-20',
  '2020-03-19',
  '2020-03-18',
  '2020-03-17',
  '2020-03-16',
  '2020-03-13',
  '2020-03-12',
  '2020-03-11',
  '2020-03-10',
  '2020-03-09',
  '2020-03-06',
  '2020-03-05',
  '2020-03-04',
  '2020-03-03',
  '2020-03-02',
  '2020-02-28',
  '2020-02-27',
  '2020-02-26',
  '2020-02-25',
  '2020-02-24',
  '2020-02-21',
  '2020-02-20',
  '2020-02-19',
  '2020-02-18',
  '2020-02-14',
  '2020-02-13',
  '2020-02-12',
  '2020-02-11',
  '2020-02-10',
  '2020-02-07',
  '2020-02-06',
  '2020-02-05',
  '2020-02-04',
  '2020-02-03',
  '2020-01-31',
  '2020-01-30',
  '2020-01-29',
  '2020-01-28',
  '2020-01-27',
  '2020-01-24',
  '2020-01-23',
  '2020-01-22',
  '2020-01-21',
  '2020-01-17',
  '2020-01-16',
  '2020-01-15',
  '2020-01-14',
  '2020-01-13',
  '2020-01-10',
  '2020-01-09',
  '2020-01-08',
  '2020-01-07',
  '2020-01-06',
  '2020-01-03',
  '2020-01-02',
  '2019-12-31',
  '2019-12-30',
  '2019-12-27',
  '2019-12-26',
  '2019-12-24',
  '2019-12-23',
  '2019-12-20',
  '2019-12-19',
  '2019-12-18',
  '2019-12-17',
  '2019-12-16',
  '2019-12-13',
  '2019-12-12',
  '2019-12-11',
  '2019-12-10',
  '2019-12-09',
  '2019-12-06',
  '2019-12-05',
  '2019-12-04',
  '2019-12-03',
  '2019-12-02',
  '2019-11-29',
  '2019-11-27',
  '2019-11-26',
  '2019-11-25',
  '2019-11-22',
  '2019-11-21',
  '2019-11-20',
  '2019-11-19',
  '2019-11-18',
  '2019-11-15',
  '2019-11-14',
  '2019-11-13',
  '2019-11-12',
  '2019-11-11',
  '2019-11-08',
  '2019-11-07',
  '2019-11-06',
  '2019-11-05',
  '2019-11-04',
  '2019-11-01',
  '2019-10-31',
  '2019-10-30',
  '2019-10-29',
  '2019-10-28',
  '2019-10-25',
  '2019-10-24',
  '2019-10-23',
  '2019-10-22',
  '2019-10-21',
  '2019-10-18',
  '2019-10-17',
  '2019-10-16',
  '2019-10-15',
  '2019-10-14',
  '2019-10-11',
  '2019-10-10',
  '2019-10-09',
  '2019-10-08',
  '2019-10-07',
  '2019-10-04',
  '2019-10-03',
  '2019-10-02',
  '2019-10-01',
  '2019-09-30',
  '2019-09-27',
  '2019-09-26',
  '2019-09-25',
  '2019-09-24',
  '2019-09-23',
  '2019-09-20',
  '2019-09-19',
  '2019-09-18',
  '2019-09-17',
  '2019-09-16',
  '2019-09-13',
  '2019-09-12',
  '2019-09-11',
  '2019-09-10',
  '2019-09-09',
  '2019-09-06',
  '2019-09-05',
  '2019-09-04',
  '2019-09-03',
  '2019-08-30',
  '2019-08-29',
  '2019-08-28',
  '2019-08-27',
  '2019-08-26',
  '2019-08-23',
  '2019-08-22',
  '2019-08-21',
  '2019-08-20',
  '2019-08-19',
  '2019-08-16',
  '2019-08-15',
  '2019-08-14',
  '2019-08-13',
  '2019-08-12',
  '2019-08-09',
  '2019-08-08',
  '2019-08-07',
  '2019-08-06',
  '2019-08-05',
  '2019-08-02',
  '2019-08-01',
  '2019-07-31',
  '2019-07-30',
  '2019-07-29',
  '2019-07-26',
  '2019-07-25',
  '2019-07-24',
  '2019-07-23',
  '2019-07-22',
  '2019-07-19',
  '2019-07-18',
  '2019-07-17',
  '2019-07-16',
  '2019-07-15',
  '2019-07-12',
  '2019-07-11',
  '2019-07-10',
  '2019-07-09',
  '2019-07-08',
  '2019-07-05',
  '2019-07-03',
  '2019-07-02',
  '2019-07-01',
  '2019-06-28',
  '2019-06-27',
  '2019-06-26',
  '2019-06-25',
  '2019-06-24',
  '2019-06-21',
  '2019-06-20',
  '2019-06-19',
  '2019-06-18',
  '2019-06-17',
  '2019-06-14',
  '2019-06-13',
  '2019-06-12',
  '2019-06-11',
  '2019-06-10',
  '2019-06-07',
  '2019-06-06',
  '2019-06-05',
  '2019-06-04',
  '2019-06-03',
  '2019-05-31',
  '2019-05-30',
  '2019-05-29',
  '2019-05-28',
  '2019-05-24',
  '2019-05-23',
  '2019-05-22',
  '2019-05-21',
  '2019-05-20',
  '2019-05-17',
  '2019-05-16',
  '2019-05-15',
  '2019-05-14',
  '2019-05-13',
  '2019-05-10',
  '2019-05-09',
  '2019-05-08',
  '2019-05-07',
  '2019-05-06',
  '2019-05-03',
  ...],
 'prices': [412.2,
  411.88,
  414.14,
  414.21,
  413.94,
  412.46,
  413.47,
  408.05,
  409.72,
  409.61,
  409.19,
  407.6,
  408.67,
  410.95,
  409.39,
  403.7,
  401.35,
  395.6,
  396.49,
  395.75,
  393.17,
  392.11,
  398.91,
  393.74,
  389.99,
  396.11,
  389.28,
  391.73,
  385.36,
  385.91,
  391.56,
  398.92,
  398.27,
  404.47,
  404.19,
  397.81,
  394.74,
  396.26,
  397.73,
  396.38,
  400.66,
  398.54,
  399.09,
  407.26,
  408.28,
  413.98,
  412.64,
  412.83,
  408.04,
  407.09,
  410.65,
  415.19,
  409.83,
  412.35,
  416.78,
  410.8,
  406.48,
  400.59,
  405.68,
  404.75,
  400.35,
  400.2,
  400.63,
  395.88,
  388.64,
  391.49,
  397.77,
  398.5,
  396.96,
  395.52,
  390.58,
  387.86,
  388.08,
  379.38,
  383.76,
  380.82,
  382.43,
  383.44,
  376.66,
  381.4,
  382.91,
  380.72,
  386.23,
  380.54,
  380.02,
  383.27,
  389.63,
  399.4,
  401.97,
  398.95,
  393.28,
  396.24,
  393.16,
  393.83,
  399.59,
  406.91,
  407.38,
  407.68,
  395.23,
  395.91,
  402.33,
  402.42,
  399.9,
  394.59,
  396.03,
  394.24,
  395.45,
  398.49,
  395.12,
  398.51,
  394.69,
  374.13,
  382.0,
  379.95,
  376.35,
  371.01,
  374.87,
  384.52,
  386.21,
  389.02,
  379.98,
  382.02,
  384.92,
  378.87,
  374.29,
  365.41,
  368.5,
  371.13,
  366.82,
  357.63,
  365.97,
  356.56,
  357.74,
  360.02,
  362.79,
  373.2,
  377.09,
  377.97,
  366.61,
  357.18,
  362.79,
  370.53,
  363.38,
  364.31,
  367.95,
  374.22,
  377.39,
  384.09,
  388.55,
  385.56,
  390.12,
  394.6,
  393.1,
  410.97,
  406.6,
  400.38,
  397.78,
  390.76,
  392.24,
  396.42,
  395.18,
  398.21,
  402.63,
  405.31,
  419.51,
  413.67,
  412.35,
  413.35,
  422.14,
  427.89,
  426.65,
  429.7,
  428.86,
  427.1,
  419.99,
  419.99,
  411.35,
  412.99,
  413.47,
  414.17,
  414.45,
  408.06,
  410.77,
  411.99,
  406.07,
  401.04,
  390.89,
  395.57,
  395.09,
  398.79,
  394.77,
  392.27,
  381.95,
  385.13,
  377.91,
  378.83,
  380.83,
  384.23,
  388.67,
  388.99,
  383.25,
  381.96,
  381.24,
  377.25,
  380.34,
  380.65,
  388.59,
  390.08,
  378.06,
  374.39,
  375.07,
  365.86,
  366.65,
  379.2,
  373.87,
  375.0,
  389.8,
  401.44,
  411.22,
  415.74,
  411.79,
  410.54,
  417.39,
  409.59,
  412.93,
  415.26,
  405.31,
  397.37,
  393.89,
  396.92,
  389.63,
  389.46,
  391.86,
  408.32,
  400.09,
  401.72,
  392.34,
  392.75,
  399.09,
  398.17,
  411.34,
  413.81,
  429.06,
  416.38,
  414.48,
  412.0,
  427.81,
  417.27,
  416.1,
  428.51,
  426.04,
  438.06,
  444.71,
  445.04,
  437.97,
  437.79,
  443.31,
  438.29,
  439.92,
  447.57,
  448.77,
  446.52,
  451.03,
  456.8,
  452.92,
  451.64,
  458.7,
  461.55,
  455.91,
  452.69,
  450.49,
  443.8,
  449.59,
  444.39,
  444.52,
  441.07,
  435.62,
  426.17,
  417.0,
  420.07,
  425.48,
  427.41,
  416.25,
  419.43,
  432.17,
  435.71,
  437.89,
  429.98,
  436.63,
  437.75,
  428.3,
  421.95,
  429.57,
  434.23,
  437.06,
  446.6,
  446.1,
  439.02,
  440.46,
  449.32,
  457.54,
  450.94,
  447.26,
  448.7,
  446.6,
  457.35,
  452.95,
  449.91,
  441.95,
  431.24,
  433.38,
  434.47,
  439.84,
  437.98,
  446.75,
  451.75,
  456.49,
  464.72,
  464.53,
  471.02,
  469.75,
  465.51,
  466.09,
  467.94,
  468.38,
  477.55,
  477.71,
  474.96,
  476.16,
  477.48,
  476.87,
  477.26,
  470.6,
  467.69,
  463.06,
  454.98,
  459.87,
  466.45,
  470.6,
  463.36,
  466.57,
  470.74,
  466.35,
  469.52,
  468.28,
  458.79,
  453.42,
  457.4,
  450.5,
  455.56,
  464.6,
  458.97,
  469.44,
  468.19,
  467.57,
  468.89,
  469.73,
  468.14,
  469.28,
  467.43,
  467.27,
  463.77,
  463.62,
  467.38,
  468.93,
  468.53,
  466.91,
  464.72,
  461.9,
  460.04,
  459.25,
  458.32,
  453.94,
  455.96,
  455.55,
  453.12,
  453.59,
  452.41,
  450.64,
  447.19,
  445.87,
  442.5,
  435.18,
  433.62,
  434.69,
  437.86,
  438.66,
  434.9,
  433.1,
  428.64,
  434.24,
  429.14,
  434.45,
  433.72,
  442.64,
  443.91,
  443.18,
  437.86,
  433.63,
  434.04,
  441.4,

In [4]:
# A template method for showing one data for all stocks

df_incremental = []
for symbol in symbol_list:
    temp = get_daily_prices(symbol)
    temp2 = dict()
    temp2["date"] = temp["dates"]
    temp2[symbol] = temp["prices"]
    temp_df = pd.DataFrame.from_dict(temp2)
    df_incremental.append(temp_df)

list_of_dates = [df_incremental[i]["date"].tolist() for i in range(len(df_incremental))]
unique_dates = sorted(list(set([item for sublist in list_of_dates for item in sublist])))
df= pd.DataFrame(unique_dates, columns=["date"])

for i in range(0, len(df_incremental)):
    df = pd.merge(df, df_incremental[i], on="date")

#df # also works if there are missing dates for some stocks even first one
df['date'] = pd.to_datetime(df['date'])

# Set the date column as the index
df.set_index('date', inplace=True)

# Resample the data to weekly frequency and calculate the mean price
df_weekly = df.resample('W').mean()  # W for weekly, M for monthly, A for annual

# Print the weekly data
print(df_weekly)

              AAPL    MSFT    GOOG     AMZN    NVDA   BRK-B    TSLA    META  \
date
2014-03-27  537.46   39.36  558.46  338.470   17.79  123.47  207.32   60.97
2014-03-28  536.86   40.30  559.99  338.290   17.90  123.53  212.37   60.01
2014-03-29     NaN     NaN     NaN      NaN     NaN     NaN     NaN     NaN
2014-03-30     NaN     NaN     NaN      NaN     NaN     NaN     NaN     NaN
2014-03-31  536.74   40.99  556.97  336.365   17.91  124.97  208.45   60.24
...            ...     ...     ...      ...     ...     ...     ...     ...
2023-03-24  160.25  280.57  106.06   98.130  267.79  298.92  190.41  206.01
2023-03-25     NaN     NaN     NaN      NaN     NaN     NaN     NaN     NaN
2023-03-26     NaN     NaN     NaN      NaN     NaN     NaN     NaN     NaN
2023-03-27  158.28  276.38  103.06   98.040  265.31  302.14  191.81  202.84
2023-03-28  157.65  275.23  101.36   97.240  264.10  302.32  189.19  200.68

               JNJ       V
date
2014-03-27   97.28  215.77
2014-03-28   97.44  212.09
2014-03-29     NaN     NaN
2014-03-30     NaN     NaN
2014-03-31   98.23  215.86
...            ...     ...
2023-03-24  152.65  221.04
2023-03-25     NaN     NaN
2023-03-26     NaN     NaN
2023-03-27  153.30  221.81
2023-03-28  151.82  220.33

[3289 rows x 10 columns]

In [ ]:
def get_daily_adjusted_prices(symbol):
    url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={symbol}&outputsize=full&apikey={API_KEY}'
    
    r = requests.get(url)
    #data_adjusted = r.json()
    data = r.json()
  
    if   r.status_code==200:
       
        #price_data_adj = data_adjusted["Time Series (Daily)"]
        price_data = data["Time Series (Daily)"]
        price_df = pd.DataFrame(price_data).transpose().reset_index()
        price_df.rename(columns={'index':'Date'},inplace=True)
        #price_df_adj = pd.DataFrame(price_data_adj).reset_index()
        #price_df_adj.rename(columns={'index':'Date'},inplace=True)
        #price_df = price_df.merge(price_df_adj.loc[:,["Date","5. adjusted close"]], on='Date',how='left')
        price_df.loc[:,'Date'] = [dt.strptime(d,'%Y-%m-%d') for d in price_df.Date]
        end_date = dt(2020,2,1)
        start_date = dt(2010,1,1)
        price_df = price_df.loc[(price_df.Date>=start_date)&(price_df.Date<=end_date),:].reset_index(drop=True)
        return price_df
    else: return None

def get_monthly_adjusted_prices(symbol):
    url = f'https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY_ADJUSTED&symbol={symbol}&outputsize=full&apikey={API_KEY}'
    
    r = requests.get(url)
    data = r.json()
  
    if   r.status_code==200:
        price_data = data["Monthly Adjusted Time Series"]
        price_df = pd.DataFrame(price_data).transpose().reset_index()
        price_df.rename(columns={'index':'Date'},inplace=True)

        price_df.loc[:,'Date'] = [dt.strptime(d,'%Y-%m-%d') for d in price_df.Date]
        end_date = dt(2020,2,1)
        start_date = dt(2010,1,1)
        price_df = price_df.loc[(price_df.Date>=start_date)&(price_df.Date<=end_date),:].reset_index(drop=True)
        return price_df
    else: return None

def get_weekly_adjusted_prices(symbol):
    url = f'https://www.alphavantage.co/query?function=TIME_SERIES_WEEKLY_ADJUSTED&symbol={symbol}&outputsize=full&apikey={API_KEY}'
    
    r = requests.get(url)
    data = r.json()
  
    if   r.status_code==200:
        price_data = data["Weekly Adjusted Time Series"]
        price_df = pd.DataFrame(price_data).transpose().reset_index()
        price_df.rename(columns={'index':'Date'},inplace=True)

        price_df.loc[:,'Date'] = [dt.strptime(d,'%Y-%m-%d') for d in price_df.Date]
        end_date = dt(2020,2,1)
        start_date = dt(2010,1,1)
        price_df = price_df.loc[(price_df.Date>=start_date)&(price_df.Date<=end_date),:].reset_index(drop=True)
        return price_df
    else: return None

In [7]:
# 1. SMA 

def calculate_sma(df, symbols, window):
    '''
    This function calculates the simple moving average (SMA) of closing prices
    for multiple stock symbols over a given time window.
    
    Parameters:
    df (Pandas DataFrame): The input DataFrame containing the stock data
    symbols (list): A list of stock symbols for which to calculate the SMA
    window (int): The time window over which to calculate the SMA
    
    Returns:
    sma_df (Pandas DataFrame): A DataFrame containing the SMA of closing prices
    for all the specified stock symbols and time window.
    '''
    
    sma_df = df  # Initialize an empty DataFrame to store the results
    
    for symbol in symbols:
        sma_df[symbol+"_SMA"] = df[symbol].rolling(window=window).mean()
    
    return sma_df[ [x+"_SMA" for x in symbols] ]

calculate_sma(df, symbol_list, 20)

,AAPL_SMA,MSFT_SMA,GOOG_SMA,AMZN_SMA,NVDA_SMA,BRK-B_SMA,TSLA_SMA,META_SMA,JNJ_SMA,V_SMA
date,,,,,,,,,,
2014-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2023-03-22,151.6245,258.7975,95.1855,95.0115,241.0415,304.7955,189.4030,185.434,153.6830,219.7450
2023-03-23,152.1010,259.9420,95.9450,95.1560,242.8050,304.5605,188.9105,187.046,153.3530,219.8180
2023-03-24,152.7780,261.5095,96.7805,95.3875,244.5515,304.3055,188.5870,188.827,153.1870,219.8925
2023-03-27,153.2960,262.8205,97.4285,95.6015,246.0665,304.1795,187.7960,190.492,153.0705,219.9655
2023-03-28,153.8080,264.1110,97.9815,95.7520,247.6635,304.0365,186.9700,191.779,152.9985,219.9850

In [10]:
# 2. EMA 

def calculate_ema(df, symbols, window):
    '''
    This function calculates the simple moving average (SMA) of closing prices
    for multiple stock symbols over a given time window.
    
    Parameters:
    df (Pandas DataFrame): The input DataFrame containing the stock data
    symbols (list): A list of stock symbols for which to calculate the SMA
    window (int): The time window over which to calculate the SMA
    
    Returns:
    sma_df (Pandas DataFrame): A DataFrame containing the SMA of closing prices
    for all the specified stock symbols and time window.
    '''
    
    sma_df = df  # Initialize an empty DataFrame to store the results
    
    for symbol in symbols:
        sma_df[symbol+"_EMA"] = df[symbol].ewm(span=window, adjust=False).mean()
    
    return sma_df[ [x+"_EMA" for x in symbols] ]

calculate_ema(df, symbol_list, 20)

,AAPL_EMA,MSFT_EMA,GOOG_EMA,AMZN_EMA,NVDA_EMA,BRK-B_EMA,TSLA_EMA,META_EMA,JNJ_EMA,V_EMA
date,,,,,,,,,,
2014-03-27,537.460000,39.360000,558.460000,338.470000,17.790000,123.470000,207.320000,60.970000,97.280000,215.770000
2014-03-28,537.145000,39.853500,559.263250,338.375500,17.847750,123.501500,209.971250,60.466000,97.364000,213.838000
2014-03-31,536.996286,40.270816,558.421182,337.637256,17.870608,124.040724,209.412656,60.383014,97.681990,214.580466
2014-04-01,538.339742,40.602568,560.943944,339.182511,18.095606,124.283010,211.594344,61.028797,97.756474,214.614974
2014-04-02,539.358167,40.783365,562.408852,339.854362,18.200682,124.328242,216.116664,61.437885,97.871016,214.625865
...,...,...,...,...,...,...,...,...,...,...
2023-03-22,152.928256,262.831805,97.569915,96.457102,241.473245,304.002071,187.101500,187.874101,154.606937,220.132827
2023-03-23,153.499850,264.244014,98.397542,96.671663,244.371983,303.465683,187.588976,189.436567,154.275800,220.366844
2023-03-24,154.142722,265.798870,99.127300,96.810552,246.602271,303.032761,187.857645,191.014989,154.120962,220.430954
2023-03-27,154.536748,266.806596,99.501843,96.927643,248.383959,302.947736,188.234060,192.141181,154.042775,220.562292
2023-03-28,154.833248,267.608825,99.678810,96.957391,249.880725,302.887952,188.325102,192.954402,153.831082,220.540169

C:\Users\Henry\AppData\Local\Temp\ipykernel_31456\64143277.py:17: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  price_df.loc[:,'Date'] = [dt.strptime(d,'%Y-%m-%d') for d in price_df.Date]

             %K  %D
Date
2020-01-31  NaN NaN
2020-01-30  NaN NaN
2020-01-29  NaN NaN
2020-01-28  NaN NaN
2020-01-27  NaN NaN

C:\Users\Henry\AppData\Local\Temp\ipykernel_31456\3459310118.py:17: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  price_df.loc[:,'Date'] = [dt.strptime(d,'%Y-%m-%d') for d in price_df.Date]

,Date,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
0,2020-01-31,208.43,208.69,201.06,201.91,201.91,31359917,0.0000,1.0
1,2020-01-30,206.53,211.43,204.75,209.53,209.53,48775500,0.0000,1.0
2,2020-01-29,221.44,224.2,218.45,223.23,223.23,33610005,0.0000,1.0
3,2020-01-28,216.14,218.74,213.52,217.79,217.79,13413835,0.0000,1.0
4,2020-01-27,213.1,216.06,212.5,214.87,214.87,13810655,0.0000,1.0
...,...,...,...,...,...,...,...,...,...
1933,2012-05-24,32.95,33.21,31.77,33.03,33.03,50237200,0.0000,1.0
1934,2012-05-23,31.37,32.5,31.36,32.0,32.0,73600000,0.0000,1.0
1935,2012-05-22,32.61,33.59,30.94,31.0,31.0,101786600,0.0000,1.0
1936,2012-05-21,36.53,36.66,33.0,34.03,34.03,168192700,0.0000,1.0
1937,2012-05-18,42.05,45.0,38.0,38.2318,38.2318,573576400,0.0000,1.0

In [6]:
for stock in symbol_list:
    stock_df = pd.read_csv('stock_price/Weekly/'+stock+".csv")
    stock_df.columns = ['Date', 'open', 'high', 'low', 'close', 'adjusted_close',
       'volume', 'dividend_amount']
    stock_df.to_csv('stock_price/Weekly/'+stock+".csv",index=0)

In [30]:

# 3. STOCH

def calculate_stoch(symbol, k_window=14, d_window=3): 
    
    # Filter the DataFrame to include only the rows with the specified symbol
    symbol_df = get_daily_adjusted_prices(symbol)
    
    # Set the date column as the DataFrame index
    symbol_df = symbol_df.set_index('Date')
    symbol_df['4. close'] = pd.to_numeric(symbol_df['4. close'])

    # Calculate the lowest and highest closing prices over the past k_window days
    low_min = symbol_df['3. low'].rolling(window=k_window).min()
    high_max = symbol_df['2. high'].rolling(window=k_window).max()
    
    # Calculate the %K line using the current closing price and the recent trading range
    k = 100 * (symbol_df['4. close']) - low_min / (high_max - low_min)
    
    # Calculate the %D line using a moving average of the %K line
    d = k.rolling(window=d_window).mean()
    
    # Combine the %K and %D lines into a DataFrame
    stoch_df = pd.DataFrame({'%K': k, '%D': d})
    
    return stoch_df

calculate_stoch('META')

C:\Users\Henry\AppData\Local\Temp\ipykernel_31456\64143277.py:17: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  price_df.loc[:,'Date'] = [dt.strptime(d,'%Y-%m-%d') for d in price_df.Date]

                     %K           %D
Date
2020-01-31          NaN          NaN
2020-01-30          NaN          NaN
2020-01-29          NaN          NaN
2020-01-28          NaN          NaN
2020-01-27          NaN          NaN
...                 ...          ...
2012-05-24  3299.681404  3122.370179
2012-05-23  3196.681404  3227.976028
2012-05-22  3096.837670  3197.733493
2012-05-21  3400.709156  3231.409410
2012-05-18  3821.869938  3439.805588

[1938 rows x 2 columns]

In [36]:
# 4. RSI

def calculate_rsi(symbol, period=14):
    """
    Calculates the relative strength index (RSI) of a DataFrame.

    Parameters:
    period (int): Number of periods to use for the RSI calculation.

    Returns:
    pandas.DataFrame: DataFrame containing the RSI values.
    """
    df = get_daily_adjusted_prices(symbol)
    df["4. close"] = pd.to_numeric(df["4. close"])
    delta = df['4. close'].diff()

    # Get upward and downward price movements
    gain = delta.where(delta > 0, 0)
    loss = -delta.where(delta < 0, 0)

    # Calculate the exponential moving average (EMA) of gains and losses
    avg_gain = gain.rolling(window=period).mean()
    avg_loss = loss.rolling(window=period).mean()

    # Calculate the relative strength (RS)
    rs = avg_gain / avg_loss

    # Calculate the RSI
    rsi = 100 - (100 / (1 + rs))

    # Add RSI values to the DataFrame
    df[symbol + '_rsi'] = rsi

    return df.loc[:,["Date", symbol + '_rsi']]

calculate_rsi('META')

C:\Users\Henry\AppData\Local\Temp\ipykernel_31456\64143277.py:17: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  price_df.loc[:,'Date'] = [dt.strptime(d,'%Y-%m-%d') for d in price_df.Date]

           Date   META_rsi
0    2020-01-31        NaN
1    2020-01-30        NaN
2    2020-01-29        NaN
3    2020-01-28        NaN
4    2020-01-27        NaN
...         ...        ...
1933 2012-05-24  67.109443
1934 2012-05-23  67.061030
1935 2012-05-22  62.218300
1936 2012-05-21  70.225140
1937 2012-05-18  75.919493

[1938 rows x 2 columns]

In [42]:
# 5. MFI
import numpy as np

def calculate_mfi(symbol, period=14):
    """
    Calculates the money flow index (MFI) of a DataFrame.

    Parameters:
    period (int): Number of periods to use for the MFI calculation.

    Returns:
    pandas.DataFrame: DataFrame containing the MFI values.
    """
    df = get_daily_adjusted_prices(symbol)
    df["4. close"] = pd.to_numeric(df["4. close"])
    df["3. low"] = pd.to_numeric(df["3. low"])
    df["2. high"] = pd.to_numeric(df["2. high"])
    df["6. volume"] = pd.to_numeric(df["6. volume"])
    # Calculate typical price
    typical_price = (df['4. close'] + df['3. low'] + df['2. high']) / 3

    # Calculate raw money flow
    money_flow = typical_price * df['6. volume']

    # Get positive and negative money flow
    positive_flow = np.where(typical_price > typical_price.shift(1), money_flow, 0)
    negative_flow = np.where(typical_price < typical_price.shift(1), money_flow, 0)

    # Calculate the money flow ratio
    raw_mfr = positive_flow / negative_flow
    mfr = pd.Series(np.where(negative_flow == 0, 100, 100 - (100 / (1 + raw_mfr))))

    # Calculate the MFI
    mfi = mfr.rolling(window=period).mean()

    # Add MFI values to the DataFrame
    df[symbol + '_mfi'] = mfi

    return df.loc[:,["Date", symbol + '_mfi']]

calculate_mfi('META')

C:\Users\Henry\AppData\Local\Temp\ipykernel_31456\3459310118.py:17: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  price_df.loc[:,'Date'] = [dt.strptime(d,'%Y-%m-%d') for d in price_df.Date]
C:\Users\Henry\AppData\Local\Temp\ipykernel_31456\423447993.py:30: RuntimeWarning: divide by zero encountered in divide
  raw_mfr = positive_flow / negative_flow
C:\Users\Henry\AppData\Local\Temp\ipykernel_31456\423447993.py:30: RuntimeWarning: invalid value encountered in divide
  raw_mfr = positive_flow / negative_flow

           Date   META_mfi
0    2020-01-31        NaN
1    2020-01-30        NaN
2    2020-01-29        NaN
3    2020-01-28        NaN
4    2020-01-27        NaN
...         ...        ...
1933 2012-05-24  42.857143
1934 2012-05-23  42.857143
1935 2012-05-22  42.857143
1936 2012-05-21  50.000000
1937 2012-05-18  57.142857

[1938 rows x 2 columns]

The parabolic SAR (Stop and Reverse) is a technical analysis indicator used to determine the direction of an asset's momentum and to provide potential entry and exit points for trades. It is calculated using a series of values and conditions based on the direction of the asset's price movement.

Here is a general formula for calculating the parabolic SAR:

- Initialize the parabolic SAR for the first day as the lowest low over a given lookback period. If there are no previous lows, use the lowest low for the current lookback period.
- For subsequent days, calculate the parabolic SAR as follows:
  - If the previous day's parabolic SAR was bullish (below the price), use the previous day's parabolic SAR value as the starting value for the current day's calculation.
  - If the previous day's parabolic SAR was bearish (above the price), use the highest high over the given lookback period as the starting value for the current day's calculation.
  - Calculate the acceleration factor (AF) based on the number of consecutive bullish or bearish days.
  - Calculate the new parabolic SAR using the previous day's parabolic SAR value, the acceleration factor, and the difference between the previous day's parabolic SAR value and the lowest low over the given lookback period.
  - If the new parabolic SAR value is higher than the current day's low, set the parabolic SAR equal to the current day's low.
  - If the new parabolic SAR value is lower than the current day's high, set the parabolic SAR equal to the current day's high.
  - If the price moves above or below the current day's parabolic SAR value, reverse the direction of the SAR and use the previous day's high or low as the starting value for the next calculation.

In [61]:
# 6. SAR 

def calculate_sar(symbol, lookback=14, acceleration_factor=0.02):
    # Load the price data into a pandas DataFrame
    df = get_daily_adjusted_prices(symbol)
    print(len(df))
    df["close"] = pd.to_numeric(df["4. close"])
    df["low"] = pd.to_numeric(df["3. low"])
    df["high"] = pd.to_numeric(df["2. high"])
    print(len(df))
    # Initialize the SAR for the first day as the lowest low over the lookback period
    sar = df['low'].rolling(window=lookback).min()
    trend = pd.Series(np.zeros(len(df)))

    # Loop through the data and calculate the SAR and trend for each day
    for i in range(1, len(df)):
        if df['low'][i] > sar[i-1]:
            trend[i] = 1
        elif df['high'][i] < sar[i-1]:
            trend[i] = -1
        else:
            trend[i] = trend[i-1]

        if trend[i] == 1:
            if sar[i-1] == df['low'][i-1]:
                sar[i] = sar[i-1] + acceleration_factor * (df['high'][i-1] - sar[i-1])
            else:
                sar[i] = sar[i-1] + acceleration_factor * (df['high'][i-1] - sar[i-1]) * trend[i-1]
            if sar[i] > df['low'][i]:
                sar[i] = df['low'][i]
        else:
            if sar[i-1] == df['high'][i-1]:
                sar[i] = sar[i-1] - acceleration_factor * (sar[i-1] - df['low'][i-1])
            else:
                sar[i] = sar[i-1] + acceleration_factor * (df['low'][i-1] - sar[i-1]) * trend[i-1]
            if sar[i] < df['high'][i]:
                sar[i] = df['high'][i]

    # Create a new DataFrame with the calculated Parabolic SAR values and the original price data
    sar_df = pd.DataFrame({'Parabolic SAR': sar}, index=df['Date'])
    
    return sar_df

calculate_sar('META', lookback=14, acceleration_factor=0.02)

1938
1938

            Parabolic SAR
Date
2020-01-31            NaN
2020-01-30            NaN
2020-01-29            NaN
2020-01-28            NaN
2020-01-27            NaN
...                   ...
2012-05-24            NaN
2012-05-23            NaN
2012-05-22            NaN
2012-05-21            NaN
2012-05-18            NaN

[1938 rows x 1 columns]

In [62]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

calculate_sar('META').iloc[0:10,:]

1938
1938

            Parabolic SAR
Date
2020-01-31            NaN
2020-01-30            NaN
2020-01-29            NaN
2020-01-28            NaN
2020-01-27            NaN
2020-01-24            NaN
2020-01-23            NaN
2020-01-22            NaN
2020-01-21            NaN
2020-01-17            NaN

In [67]:
def calc_AD(df):
    # Initialize the AD line as the closing price
    df = get_daily_adjusted_prices(symbol)
    df["close"] = pd.to_numeric(df["4. close"])
    df["low"] = pd.to_numeric(df["3. low"])
    df["high"] = pd.to_numeric(df["2. high"])
    df["volume"] = pd.to_numeric(df["6. volume"])
    ad = df['close'].copy()
    
    # Calculate the money flow multiplier (MFM)
    mfm = ((df['close'] - df['low']) - (df['high'] - df['close'])) / (df['high'] - df['low'])
    
    # Calculate the money flow volume (MFV)
    mf_volume = mfm * df['volume']
    
    # Calculate the cumulative sum of the money flow volume
    cmf = mf_volume.cumsum()
    
    # Calculate the AD line
    ad.iloc[0] = cmf.iloc[0]
    for i in range(1, len(ad)):
        if df['close'].iloc[i] > df['close'].iloc[i-1]:
            ad.iloc[i] = ad.iloc[i-1] + cmf.iloc[i]
        elif df['close'].iloc[i] < df['close'].iloc[i-1]:
            ad.iloc[i] = ad.iloc[i-1] - cmf.iloc[i]
        else:
            ad.iloc[i] = ad.iloc[i-1]
            
    # Set the index of the DataFrame to the date column
    ad.index = df['Date']
    
    return pd.DataFrame(ad)

calc_AD('META')

                   close
Date
2020-01-31 -1.254954e+07
2020-01-30 -1.753785e+07
2020-01-29 -1.521235e+07
2020-01-28 -1.316688e+07
2020-01-27 -1.273729e+07
...                  ...
2010-01-08 -9.289570e+10
2010-01-07 -9.342936e+10
2010-01-06 -9.395936e+10
2010-01-05 -9.342627e+10
2010-01-04 -9.289299e+10

[2537 rows x 1 columns]

In [68]:
# -2: VMAP

def calculate_vwap(symbol, period):
    df = get_daily_adjusted_prices(symbol)
    df["close"] = pd.to_numeric(df["4. close"])
    df["low"] = pd.to_numeric(df["3. low"])
    df["high"] = pd.to_numeric(df["2. high"])
    df["volume"] = pd.to_numeric(df["6. volume"])

    # Calculate the typical price for each period
    tp = (df['high'] + df['low'] + df['close']) / 3

    # Multiply the typical price by the volume for each period
    vtp = tp * df['volume']

    # Calculate the cumulative sum of the volume times the typical price
    cum_vtp = vtp.cumsum()

    # Calculate the cumulative sum of the volume
    cum_vol = df['volume'].cumsum()

    # Calculate the VWAP for each period
    vwap = cum_vtp / cum_vol

    # Create a DataFrame to hold the results
    results = pd.DataFrame({
        'vwap': vwap[period-1:],
        'date': df['Date'][period-1:]
    })

    # Set the index to the start time
    results.set_index('date', inplace=True)

    return results

calculate_vwap('META', 14)

                  vwap
date
2020-01-13  215.947281
2020-01-10  216.061476
2020-01-09  216.133866
2020-01-08  216.067220
2020-01-07  215.922838
...                ...
2012-05-24   87.002623
2012-05-23   86.938741
2012-05-22   86.850461
2012-05-21   86.712389
2012-05-18   86.299151

[1925 rows x 1 columns]

In [69]:
# MACD 

def calculate_macd(symbol, ema_short=12, ema_long=26, signal_period=9):
    df = get_daily_adjusted_prices(symbol)
    df["close"] = pd.to_numeric(df["4. close"])
    # Calculate the short-term and long-term EMAs
    ema_short = df['close'].ewm(span=ema_short, adjust=False).mean()
    ema_long = df['close'].ewm(span=ema_long, adjust=False).mean()
    
    # Calculate the MACD line and the signal line
    macd_line = ema_short - ema_long
    signal_line = macd_line.ewm(span=signal_period, adjust=False).mean()
    
    # Calculate the MACD histogram
    macd_histogram = macd_line - signal_line
    
    # Return a DataFrame with the MACD values
    macd_df = pd.DataFrame({
        'MACD': macd_line,
        'Signal': signal_line,
        'Histogram': macd_histogram
    }, index=df.index)
    
    return macd_df

calculate_macd('META')

          MACD    Signal  Histogram
0     0.000000  0.000000   0.000000
1     0.607863  0.121573   0.486291
2     2.170060  0.531270   1.638790
3     2.935313  1.012079   1.923234
4     3.268484  1.463360   1.805125
...        ...       ...        ...
1933  0.334636 -0.110367   0.445004
1934  0.514460  0.014598   0.499862
1935  0.569713  0.125621   0.444092
1936  0.848219  0.270141   0.578078
1937  1.391942  0.494501   0.897441

[1938 rows x 3 columns]